{% extends 'news/base.html' %}
{% load filters %}
{% load social_share %}

{% block content %}
<div class="post-page">
  <div class="post-author-date">
    <div class="post-author-img">
        <img src="{{ user.profile.img.url }}" alt="avatar">
    </div>
    <div class="post-author">
      By <a href="{% url 'user_news' object.author %}">{{ object.author.profile.fullname }}</a>
    </div>
          <div class="post-date">
            {% if not object.published_date %}
              Draft created: <b>{{ object.created_date|time_ago:"ago" }}</b>
            {% else %}
              <p><b>{{ object.published_date|time_ago:"ago" }}</b></p>
            {% endif %}
          </div>

        </div>
        <div class="post-title">
          <h1>Draft: {{ object.title }}</h1>
        </div>
        <div class="article-img-header">
          <div class="article-category">
            {% if object.category %}
            <b><a href="{% url 'category_news' slug=object.category.slug %}">{{ object.category }}</a></b>
            {% else %}
            <b>News</b>
            {% endif %}
          </div>
          <div class="article-views">
            <b>Views: {{ post.views }}</b>
          </div>
        </div>
        <div class="article-text">{{ object.text|safe }}</div>
        {% if user.is_authenticated %}
        <p>Created: {{ object.created_date }}</p>
        {% endif %}
         <div class="post-tag-container">
           {% for post_tag in post.tags.all %}
             <div class="post-tag-badge">
                <a href="{% url 'tag_news' post_tag.slug %}" class="post-tag-link">{{ post_tag.name }}</a>
             </div>
           {% endfor %}
         </div>

        {% if object.author == user or user.profile.moderator %}
        <br>
        <a class="button" href="{% url 'edit_post' post.slug %}">Edit</a>
        <a href="{% url 'delete_post' post.slug %}">Delete</a>
        {% endif %}
        <br><br>
        {% if user.profile.moderator %}
        <a class="button" href="{% url 'publish_post' post.slug %}">Publish</a>
        {% endif %}
        <br>
        <p>All articles by: <a href="{% url 'user_news' object.author %}">{{ object.author }}</a></p>



       <br><br>
      </div>
{% endblock content %}

{% block side-bar %}
    {% include 'news/includes/profile_sidebar.html' %}
{% endblock side-bar %}


{% block extra_js %}
<script type="text/javascript">
  $(".side-bar").stick_in_parent();
</script>
{% endblock %}
