{% extends 'news/base.html' %}
{% block content %}
      <div class="post">
       <h2>{{ object.title }}</h2>
       <p>Author:</b></p>
       <div class="media text-muted pt-3 mb-5">
       <img src="{{ object.author.profile.img.url }}" alt="{{ object.author }}" class="mr-2 rounded avatar-img" style="width: 64px; height: 64px;">
       <p class="media-body pb-3 mb-0 small lh-125">
         Created by
         <strong class="d-block text-gray-dark">@{{ object.author }}</strong>
       </p>
       </div>
       <p>{{ object.text|linebreaksbr }}</p>
       <p>{{ object.created_date }}</p>
        {% if object.published_date %}
          <p>Published: <b>{{ object.published_date}}</b></p>
        {% endif %}
        {% if object.author == user %}
        <a class="button" href="{% url 'edit_post' object.id %}">Edit</a>
        <a href="{% url 'delete_post' object.id %}">Delete</a>
        {% endif %}
       <br><br>
      </div>
{% endblock content %}
