{% extends 'news/base.html' %}
{% load staticfiles %}

{% block slider %}
      <div class="main-slider">
      <div>
        <div class="flex-slide" style=background-image:url('media/uploads/2019/04/15/bitcoin-exchange.jpg') >
          <div class="slide-text">
            <h1><a href="#">Cross-shard communication could be facilitated by Merkle-proof-verifiable receipts!</a></h1>
          </div>
          <div class="slide-footer">
            First Slide
          </div>
        </div>
      </div>
      <div>
        <div class="flex-slide" style=background-image:url('media/uploads/2019/04/15/bitcoin-exchange.jpg')>
          <div class="slide-text" >
            <h1 >Crypto Hedge Fund Pantera Capital Seals $130 Million for Third Crypto Venture Fund</h1>
          </div>
          <div class="slide-footer">
            First Slide
          </div>
        </div>
      </div>
      <div>
        <div class="flex-slide" style=background-image:url('media/uploads/2019/04/15/bitcoin-exchange.jpg')>
          <div class="slide-text">
            <h1>Don’t Expect Bitcoin’s Supply to Change, Says Core Maintainer Wlad van der Laan</h1>
          </div>
          <div class="slide-footer">
            First Slide
          </div>
        </div>
      </div>

      </div>
{% endblock slider %}


{% block content %}
    <div class="page-header">
        {% if category %}
            <h2>Category: {{ category.title }}</h2>
        {% elif author_username %}
            <h2>All articles by {{ author_username.profile.fullname }}</h2>
        {% elif tag %}
            <h2>Tag: {{ tag.name }}</h2>
        {% else %}
            <h2>Crypto News website</h2>
        {% endif %}
        {% if query %}
            <p>Search by: <b>{{ query }}</b> (results: {{ news_count }})</p>
        {% elif category or author_username or tag %}
            <p>Articles: {{ news_count }}</p>
        {% endif %}
    </div>
    {% include 'news/includes/posts.html' %}
    {% if one_more %}
        {% csrf_token %}
        <button id="load_more" class="btn btn-outline-warning">Load more</button>
    {% endif %}
{% endblock content %}

{% block side-bar %}
    {% include 'news/includes/main_sidebar.html' %}
{% endblock side-bar %}

{% block extra_js %}
<script type="text/javascript">

    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#load_more').on('click', function(elm) {
        var url = "{% url 'api_news_more' %}";
        var current_news = $('div[id^="post-"]').last().attr('id').split('-')[1];
        var data = {
            {% if category %}'category': '{{ category.slug }}',{% endif %}
            {% if author_username %}'author': '{{ author_username }}',{% endif %}
            'current_news': current_news
        };
        $.post(
            url, data, function (resp) {
                $('#load_more').before(resp.html);
                if (!resp.one_more) {
                    $('#load_more').hide();
                }
                $(window).scrollTop($(window).scrollTop()+1);
            }
        )
    });

</script>

<script type="text/javascript">
  $(".side-bar").stick_in_parent();
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.main-slider').slick({
      infinite: true,
      speed: 900,
      fade: true,
      cssEase: 'linear',
      autoplay: true,
      autoplaySpeed: 3000,
      lazyLoad: 'ondemand',
    });
  });
</script>

{% endblock %}
