{% extends 'news/base.html' %}
{% block content %}
      <div class="post">
       <h2>{{ object.title }}</h2>
       <p>Author: {{ object.author }}</p>
       <div class="media text-muted pt-3 mb-5">
       <img src="{{ object.author.profile.img.url }}" alt="{{ object.author }}" class="mr-2 rounded avatar-img" style="width: 64px; height: 64px;">
       <p class="media-body pb-3 mb-0 small lh-125">
         Created by
         <strong class="d-block text-gray-dark">@{{ object.author }}</strong>
       </p>
       </div>
       <p>{{ object.text|safe }}</p>
       <p>{{ object.created_date }}</p>
        {% if object.published_date %}
          <p>Published: <b>{{ object.published_date }}</b></p>
        {% endif %}
        {% if object.category %}
            <p>Category: <a href="{% url 'category_news' slug=object.category.slug %}">{{ object.category }}</a></p>
        {% endif %}
        {% if object.author == user %}
        <a class="button" href="{% url 'edit_post' object.slug %}">Edit</a>
        <a href="{% url 'delete_post' object.slug %}">Delete</a>
        {% endif %}
        <br><br>
        <p>All articles by: <a href="{% url 'user_news' object.author %}">{{ object.author }}</a></p>
        <h3>Similar news ({{ news_count }})</h3>
        {% include 'news/includes/posts.html' %}
        {% if one_more %}
          <button id="load_more" class="btn btn-outline-warning">Load more</button>
        {% endif %}

       <br><br>
      </div>
{% endblock content %}


{% block extra_js %}
<script type="text/javascript">

    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var processing;

    $(document).ready(function(){

        $(document).scroll(function(e){

            if (processing)
                return false;

            var url = "{% url 'api_news_more' %}";
            var current_news = $('div[id^="post-"]').last().attr('id').split('-')[1];
            var data = {
                'category': '{{ object.category.slug }}',
                'current_news': current_news,
            };

            if ($(window).scrollTop() >= ($(document).height() - $(window).height()) * 0.7){
                processing = true;
                $.post(
                    url, data, function (resp) {
                        $('#load_more').before(resp.html);
                        if (!resp.one_more) {
                            $('#load_more').hide();
                        }
                        processing = false;
                    }
                )
            }
        });
    });

</script>
{% endblock %}
