{% extends 'news/base.html' %}
{% block content %}
    <div class="page-header">
        {% if category %}
            <h1>Category: {{ category.title }}</h1>
            <p>Articles: {{ news_count }}</p>
        {% elif author_username %}
            <h1>All articles by {{ author_username }}</h1>
            <p>Articles: {{ news_count }}</p>
        {% else %}
            <h1>Crypto News website</h1>
        {% endif %}
    </div>
    {% include 'news/includes/posts.html' %}
    {% if one_more %}
        <button id="load_more" class="btn btn-outline-warning">Load more</button>
    {% endif %}
{% endblock content %}


{% block extra_js %}
<script type="text/javascript">

    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#load_more').on('click', function(elm) {
        var url = "{% url 'api_news_more' %}";
        var current_news = $('div[id^="post-"]').last().attr('id').split('-')[1];
        var data = {
            {% if category %}'category': '{{ category.slug }}',{% endif %}
            {% if author_username %}'author': '{{ author_username }}',{% endif %}
            'current_news': current_news
        };
        $.post(
            url, data, function (resp) {
                $('#load_more').before(resp.html);
                if (!resp.one_more) {
                    $('#load_more').hide();
                }
            }
        )
    });

</script>
{% endblock %}
