{% extends 'news/base.html' %}
{% block content %}
  <div class="page-header">
    <h1>Crypto News website</h1>
  </div>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  {% for post in news %}
    <div class="post">
     <h2><a href="{% url 'news_page' pk=post.pk %}">{{ post.title }}</a></h2>
     <p>{{ post.text|linebreaksbr  }}</p>
     <p>Author: <b>{{ post.author }}</b></p>
     <p>Published: <b>{{ post.published_date}}</b></p>
     <br><br>
   </div>
  {% endfor %}
{% endblock content %}
