{% extends 'news/base.html' %}


{% load social_share %}
{% block content %}
    <div class="post-list">
      {% include 'news/includes/full_post.html' %}
        {% if one_more %}
            {% csrf_token %}
            <button id="load_more" class="btn btn-outline-warning">Load more</button>
        {% endif %}
    </div>
{% endblock content %}

{% block side-bar %}
    {% include 'news/includes/main_sidebar.html' %}
{% endblock side-bar %}


{% block extra_js %}
<script type="text/javascript">

    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var processing;

    $('#load_more').on('click', load_more_processor);

    function load_more_processor(e) {

        if (processing)
            return false;

        var url = "{% url 'api_full_news_more' %}";
        var current_news = $('div[id^="full-post-"]').last().attr('id').split('-')[2];
        var data = {
            'category': '{{ object.category.slug }}',
            'current_news': current_news,
        };

        if ($(window).scrollTop() >= ($(document).height() - $(window).height()) * 0.7){
            processing = true;
            $.post(
                url, data, function (resp) {
                    $('#load_more').before(resp.html);
                    if (!resp.one_more) {
                        $('#load_more').hide();
                    }
                    processing = false;
                    $(window).scrollTop($(window).scrollTop()+1);
                }
            )
        }
    }

    $(document).ready(function(){
        $(document).scroll(load_more_processor);
    });

</script>
<script type="text/javascript">
  $(".side-bar").stick_in_parent();
</script>

{% endblock %}
