{% extends 'news/base.html' %}
{% block content %}
    <div class="post">
        <div class="page-header">
            <h1>New publication</h1>
        </div>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.media }}
            <p>
                {{ form.category.errors }}
                {{ form.category.label_tag }}
                <select id="id_category" name="category">
                    <option value selected>Выбрать категорию</option>
                    {% for parent in parent_categories %}
                    <option value disabled>{{ parent }}</option>
                        {% for category in parent.children %}
                        <option value="{{ category.id }}" {% if form.instance.category == category %}selected{% endif %}>&nbsp;&nbsp;{{ category }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </p>
            <p>
                {{ form.title.errors }}
                {{ form.title.label_tag }}
                {{ form.title }}
            </p>
            <p>
                {{ form.text.errors }}
                {{ form.text.label_tag }}
                {{ form.text }}
            </p>
            <button type="submit" class="save btn-default">Save</button>
        </form>

        <br><br>
    </div>
{% endblock content %}
