{% extends 'news/base.html' %}
{% block content %}
    <div class="post">
        <div class="page-header">
            <h1>New publication</h1>
        </div>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.media }}
            <p>
                {{ form.category.errors }}
                {{ form.category.label_tag }}
                <select id="id_category" name="category">
                    <option value selected>Выбрать категорию</option>
                    {% for parent in parent_categories %}
                    <option value disabled>{{ parent }}</option>
                        {% for category in parent.children %}
                        <option value="{{ category.id }}" {% if form.instance.category == category %}selected{% endif %}>&nbsp;&nbsp;{{ category }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </p>
            <p>
                {{ form.title.errors }}
                {{ form.title.label_tag }}
                {{ form.title }}
            </p>
            <p class="ckeditor-text-field">
                {{ form.text.errors }}
                {{ form.text.label_tag }}
                {{ form.text}}
            </p>
            <p>
                {{ form.tags.errors }}
                {{ form.tags.label_tag }}
                <select id="id_tags" name="tags" class="selectpicker" multiple data-live-search="true">
                    {% for tag in tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <button type="submit" class="save btn-default">Save</button>
        </form>

        <br><br>
    </div>
{% endblock content %}

{% block side-bar %}
  <div class="profile-side-buttons">
    <a class="publication-button" href="{% url 'new_post' %}">New Publication</a>
    <a href="{% url 'profile' %}">Profile</a>
    <a href="#">Review Publications</a>
    <a href="/admin">Site administration</a>
    <a href="{% url 'exit' %}">Exit Profile</a>

  </div>
{% endblock side-bar %}


{% block extra_js %}
<script type="text/javascript">

    $('#id_tags').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        var options = $(this).find('option');

        var idx = this.length - 1;
        while (idx >= 0 && !options[idx].selected || idx === clickedIndex) {
            idx = idx - 1;
        }

        var opt = options[clickedIndex];
        if (idx >= 0) {
            $(this).find('option')[idx].after(opt);
        } else {
            $(this).find('option')[0].before(opt);
        }
        $('.selectpicker').selectpicker('refresh');
    });

</script>
{% endblock extra_js %}