h2 {
  color: blue;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.7em;
}

.page-header {
  display: float;
  margin-bottom: 40px;
}

a:hover {
  text-decoration: none;
  color: blue;
}

.form-section {
  border: 1px solid gray;
  padding: 20px;
}

.post-form textarea, .post-form input {
    width: 100%;
}
