{% extends 'news/base.html' %}
{% block content %}
    <div class="form-section">
      <h2>User "{{ user.username }}"</h2>
      <div class="media text-muted pt-3">
      <img src="{{ user.profile.img.url }}" alt="avatar" class="mr-2 rounded" style="width: 64px; height: 64px;">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
        <b>Email: </b> {{ user.email }}
      </p>
      </div>
      <br>
      <p><b>Age: </b> {{ user.profile.age }}</p>
      <p><b>Bio: </b>{{ user.profile.bio }}</p>

      <hr>
      <p>Press exit to logout <a href="{% url 'exit' %}">Exit</a></p>
    </div>
{% endblock content %}
