{% load filters %}


<div class="side-bar">

  {% if user.is_authenticated %}

  <div class="side-bar-profile">
    <div class="profile-img-container">
      <div class="img-container">
          <img src="{{ user.profile.img.url }}" alt="avatar">
      </div>
    </div>
    <div class="profile-name-container">
      <p>{{ user.profile.fullname }}</p>
    </div>
  </div>

  {% endif %}
  <div class="side-bar-header">
    <p>HOT AND TRENDING</p>
  </div>
  <div class="side-bar-header">
    <p>HOT AND TRENDING</p>
  </div>
  <div class="side-bar-header">
    <p>HOT AND TRENDING</p>
  </div>
  <div class="side-bar-header">
    <p>HOT AND TRENDING</p>
  </div>
  <div class="side-bar-header">
    <p>HOT AND TRENDING</p>
  </div>
</div>
