{% for post in news %}
    <div class="post-list" id="post-{{ post.id }}">
        <h2><a href="{% url 'news_page' post.slug %}">{{ post.title }}</a></h2>
        <p>{{ post.text|striptags|truncatechars:200|safe }}</p>
        {% if not author_username %}
            <p>Author: <a href="{% url 'user_news' post.author %}">{{ post.author }}</a></p>
        {% endif %}
        <p>Published: <b>{{ post.published_date}}</b></p>
        {% if not category and post.category %}
            <p>Category: <a href="{% url 'category_news' slug=post.category.slug %}">{{ post.category }}</a></p>
        {% endif %}
        <p>Views: {{ post.views }}</p>
        {% for post_tag in post.tags.all %}
            {% if post_tag != tag %}
                <a href="{% url 'tag_news' post_tag.slug %}" class="badge badge-pill badge-light">{{ post_tag.name }}</a>
            {% else %}
                <span class="badge badge-pill badge-dark">{{ post_tag.name }}</span>
            {% endif %}
        {% endfor %}
        <br><br>
    </div>
{% endfor %}
